.articles-listing {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2E3340;
    padding: 10px;
    column-gap: 37px;
    row-gap: 37px;
}

.group-1 {
    height: 439px;
    width: 390px;
    background-color: white;
    border-radius: 22px;
    border: 1px solid #ddd; /* Adicionei uma cor ao border */
    text-align: left; /* Alinhar textos à esquerda */
    padding: 20px; /* Adiciona padding para espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no total da largura/altura */
    display: flex; /* Flexbox para alinhamento */
    flex-direction: column; /* Coluna para empilhar elementos verticalmente */
    align-items: center; /* Alinha itens ao centro horizontalmente */
    justify-content: flex-start; /* Alinhar itens ao início verticalmente */
    position: relative; /* Posicionamento relativo para a data */
}

.group-1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espaço abaixo da imagem */
    border-radius: 20px;
}

.group-1 .title-grid {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-self: flex-start; /* Alinhar o título à esquerda */
    margin: 0;
}

.group-1 .desc {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start; /* Alinhar a descrição à esquerda */
    color: #0F1217;
    margin: 0 0 20px 0; /* Espaçamento inferior para a descrição */
}

.date {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start; /* Alinhar o span à esquerda */
    color: #0F1217;
    margin-top: 0;
    position: absolute; /* Posicionamento absoluto */
    bottom: 20px; /* Posiciona no fundo da caixa com um espaçamento */
    left: 20px; /* Alinha à esquerda com o mesmo espaçamento do padding */
}
