@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Recursive:CRSV,MONO@1,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@1,75,300&display=swap');


body {
    background-color: #232830; /* Background color of the page to match the dark theme */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align content to the top of the page */
    min-height: 100vh; /* Full viewport height */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CASL" 0,
      "CRSV" 0.5,
      "MONO" 1;
}

.container {
    width: 100%; /* Full width of the page */
    max-width: 1682px; /* Max width for the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E3340; /* Optional: Add background color to container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better visibility */
    
    box-sizing: border-box; /* Ensure padding is included in total height */
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff; /* Text color */
    width: 100%; /* Adjust width to 100% */
    max-width: 1236px; /* Optional: Control max width of the header */
    box-sizing: border-box;
}

.site-title {
    font-size: 30px;
    color: #fff; /* Ensure the site title color is white */
    text-decoration: none; /* Remove underline from the link */
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 20px;
    color: #fff; /* Ensure the navigation links color is white */
    text-decoration: none; /* Remove underline from the links */
    font-size: 24px;
}

.nav-links a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.group-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.group-5 h1 {
    font-size: 71px;
    color: purple;
    margin: 0;
    font-family: "Recursive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CASL" 0,
      "CRSV" 1,
      "MONO" 1;
}

.group-5 p {
    font-size: 30px;
    color: blueviolet;
    margin: 0 0 40px 0;

}

.image-logo {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-logo img {
    max-width: 100%;
    height: auto;
}

hr {
    width: 100%; /* Full width of the container */
    border: none; /* Remove default border */
    height: 2px; /* Adjust thickness */
    background-color: #4D4D4D; /* Set color */
    
}

.cate, .pages{
    display: flex;
}

.cate p {
    margin: 0 0 0 25px;
    color: #909090;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
    "wdth" 100;
}

.articles-listing {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2E3340;
    padding: 10px;
    column-gap: 37px;
    row-gap: 37px;
}

.group-1 {
    height: 439px;
    width: 390px;
    background-color: white;
    border-radius: 22px;
    border: 1px solid #ddd; /* Adicionei uma cor ao border */
    text-align: left; /* Alinhar textos à esquerda */
    padding: 20px; /* Adiciona padding para espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no total da largura/altura */
    display: flex; /* Flexbox para alinhamento */
    flex-direction: column; /* Coluna para empilhar elementos verticalmente */
    align-items: center; /* Alinha itens ao centro horizontalmente */
    justify-content: flex-start; /* Alinhar itens ao início verticalmente */
    position: relative; /* Posicionamento relativo para a data */
}

.group-1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espaço abaixo da imagem */
    border-radius: 20px;
}

.group-1 .title-grid {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-self: flex-start; /* Alinhar o título à esquerda */
    margin: 0;
}

.group-1 .desc {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start; /* Alinhar a descrição à esquerda */
    color: #0F1217;
    margin: 0 0 20px 0; /* Espaçamento inferior para a descrição */
}

.date {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start; /* Alinhar o span à esquerda */
    color: #0F1217;
    margin-top: 0;
    position: absolute; /* Posicionamento absoluto */
    bottom: 20px; /* Posiciona no fundo da caixa com um espaçamento */
    left: 20px; /* Alinha à esquerda com o mesmo espaçamento do padding */
}


.pages button {
    color: #909090;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
      "wdth" 75;

    font-size: 25px;
    margin: 30px 0 36px 25px;
    cursor: pointer;

    border-color: transparent;
}

.pages button:hover {
    border-top-color: blueviolet;
}

.footer {
    background-color: #2E3340; /* Cor de fundo do rodapé */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 90%; /* Full width of the page */
    max-width: 1682px; /* Max width for the container */
}

.footer-left {
    display: flex;
    align-items: center;
}

.git-title {
    font-size: 30px;
    margin-right: 10px;
    color: white;
}

.author-link {
    background-color: #3498db; /* Cor de fundo do link do autor */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.footer-right .twitter-follow {
    background-color: #3498db; /* Cor de fundo do botão do Twitter */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.footer a:hover {
    background-color: #2980b9; /* Cor de fundo ao passar o mouse */
}
